.showcase {
  width: 100%;
  height: 500px;
  position: relative;
  color: white;
  text-align: center;
  font-size: 2rem;
}

.showcase img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index:99
}

.showcase .overlay {
  width: 100%;
  height: 500px;
  background-color: rgba(0, 25, 62, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  z-index:999
}

section {
  background: linear-gradient(to right, #3564F0, #359FF0);
  color: white;
  padding: 7rem;
  text-align: center;
}

main {
  background: #85C1EF;
  color: black;
  padding: 5rem;
  text-align: center;
  p (font-family: helvetica;)
}

footer {
  font-size: 20px;
  font-weight: 0;
  font-family: sans-serif;
  color:black; 
  background-color: white;
  padding: 2rem;
  text-align: center;
}
